[GdmGreeterTheme]
Encoding=UTF-8
Greeter=wooden.xml
Name=Wooden
Description=Elegant Wooden theme
Author=Olek Nowodziński
Copyright=Released under GPL
Screenshot=screen.jpg
