[GdmGreeterTheme]
Encoding=UTF-8
Greeter=purple.xml
Name=Purple
Description=Elegant Purple theme
Author=mingobingo a.k.a. maitraya. The beautiful wallpaper by Falco101
Copyright=Released under GPL
Screenshot=screen.jpg
