[GdmGreeterTheme]
Greeter=FreeSansGrrl.xml
Name=FreeSansGrrl
Description=Simple theme
Author=Giuseppe Pantanetti <gpantanetti@gmail.com>
Copyright=(c) 2008 Giuseppe Pantanetti
Screenshot=screenshot.jpg
