[GdmGreeterTheme]
Greeter=brit-waves.xml
Name=Brit Waves
Description=Based on Elegant Brit by Fabio Barbosa
Author=VoaNerges gotham48@gmail.com
Copyright=GPL
Screenshot=screenshot.png
