[GdmGreeterTheme]
Encoding=UTF-8
Greeter=Greenery.xml
Name=Greenery
Description=Greenery
Author=Theme by Christian Munier, photo by Jerko Grubisic
Copyright=This work is licensed under the Creative Commons Share Alike (by-sa) License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/3.0/
Screenshot=screenshot.png

