html {
	overflow: hidden;
}

body {
	overflow: hidden;
	background: #000;
	color: #3fc;
	padding: 0;
	font-weight: bold;
	font-family: Lucida Console, Courier, Monotype;
}

#bg_letters {
	margin: 0 auto;
	border-collapse: collapse;
}

#bg_letters td, #bg_letters tr {
	border: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	margin: 0;
}

.matrix_img {
	position: absolute;
	top: 0;
	background-size: 100% 100%;
	background: url('back2.png');
}

#login {
	position: absolute;
}

#login * {
	background: #000;
	color: #fff;
}

input[type=text], input[type=password] {
	border: 0;
	display: none;
	background: #000;
	color: #fff;
	padding: 0 3px;
	margin: 0;
	font-weight: bold;
	font-family:Lucida Console, Courier, Monotype;
}

#debug {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #555;
	color: #fff;
	padding: 5px;
	font-family: 'Droid Sans';
	font-size: 12px;
}

#button {
	position: absolute;
	background: #000;
	z-index: 20;
	text-align: center;
	color: #fff;
	margin: 0;
	font-weight: bold;
	font-family:Lucida Console, Courier, Monotype;
}

#settings {
	display: none;
	position: absolute;
	z-index: 30;
	list-style: none;
	top: 10%;
	bottom: 10%;
	overflow: auto;
	font-family: Droid Sans;
	left: 15%;
	width: 70%;
	margin: 0;
	font-size: 1em;
	padding: 0;
}

#languages, #sessions {
	display: none;
	list-style: none;
}

#languages li, #sessions li {
	float: left;
	width: 25%;
	font-size: 0.7em;
}

#languages li a, #sessions li a {
	display: block;
	padding: 2px;
}

#settings > li {
	clear: left;
}

#settings li a {
	display: block;
	color: #3fc;
	text-decoration: none;
	padding: 10px;
}

#settings li a:hover, #button:hover {
	background: #3fc;
	color: #000;
	cursor: pointer;
}


