[GdmGreeterTheme]
Encoding=UTF-8
Greeter=SimplyFree.xml
Name=SimplyFree
Description=Simply theme
Author=roberTO
Copyright=Icons: Free DevStock Icons...
Screenshot=screen.jpg
