[GdmGreeterTheme]
Greeter=transparent.xml
Name=Transparent UserList
Description=Minimalist theme
Author=Linux Mint
Copyright=GPL
Screenshot=screenshot.png
