Source: mint-mdm-themes
Section: x11
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mint-mdm-themes
Architecture: all
Provides: mdm-themes
Replaces: mint-mdm-themes-kde
Description: Linux Mint MDM Themes
 Themes for the MDM display manager.
