@font-face {
	font-family: "raleway";
	src: url("../font/raleway_thin.otf");
}

@font-face {
	font-family: "Sawasdee";
	src: url("../font/Sawasdee.ttf");
}

body {
	background-color: #111;
	overflow: hidden;
	background: url(../bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body * {
	font-family: "Helvetica", sans-serif;
}

.btn {
	background: #fff;
	-webkit-transition: background-color 150ms ease-out;
}

.btn.btn-primary {
	background: rgba(0, 128, 192, .5);
	-webkit-transition: background-color 150ms ease-out;
}

.btn:hover {
	background: rgba(0, 128, 192, .3);
	-webkit-transition: background-color 150ms ease-in;
}

.btn.btn-primary:hover {
	background: rgba(0, 128, 192, .6);
	-webkit-transition: background-color 150ms ease-out;
}

#entry {
	margin: 10px 0 10px 0;
	width: 100%;
	height: 28px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#entry:hover {
	box-shadow: 0 2px 3px #e5e5e5 inset;
	border: 1px solid #ccc;
}

#entry:focus {
	box-shadow: 0 2px 3px #ccc inset;
	border: 1px solid #ccc;
}

.login_box {
	box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
	background:#fff;
	position:fixed;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .4);
	padding: 10px;
	width: 33%;
}

.login_box * {
	text-shadow: none !important;
}

.login_box i {
	color: #555 !important;
}

.login_box .user-gecos {
	font-size:26px;
	color:#555;
	display: inline-block;
}

.login_box .username {
	color: #aaa;
	margin-left: 10px;
	display: inline-block;
}

.login_box .user-status {
	color: #555;
	font-weight: normal;
	font-style: italic;
	margin-left: 10px;
	display: inline-block;
}

.login_box .user-img {
	display: inline-block;
	margin-right: 5%;
	width: 20%;
	height: 20%;
}

.login_box .btn {
	color: #333;
	float: right;
	min-width: 20%;
}

.extra_controls {
	min-height: 20px;
}

.extra_controls a i {
	font-size: 16px;
}

.extra_controls a {
	margin: -10px -5px 0 -5px !important;
}

#date_time {
	position:fixed;
	right:5%;
}

.clock {
	display: inline-block;
	font-family: "raleway";
	color:#fff;
	font-size:100pt;
	line-height: 100pt;
	text-shadow:0 -1px 3px rgba(0, 0, 0, .3), 0 1px 2px rgba(255, 255, 255, .5);
	font-weight:100;
}

.date {
	display: inline-block;
	font-family: "Open Sans Light", "Droid Sans", sans-serif;
	color:#fff;
	font-size:24pt;	
	text-shadow:0 -1px 3px rgba(0, 0, 0, .3), 0 1px 2px rgba(255, 255, 255, .5);	
}

.dots {
	min-width: 40px;
    max-width: 40px;
    text-align: left;
}

.alert {
	text-align: center;
}

.user_area {
	color:#444;
	font-size: 16px;
	position:absolute;
	left: 5%;
	overflow: visible;
	max-height: 90%;
}

.notification {
	background-color: rgba(255, 255, 255, .4);
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 1px 3px rgba(0, 0, 0, .4);
	padding: 10px 10px 0px 10px;
}

.notification:empty {
	display: none;
}

.user-info {
	padding: 20px 20px 20px 20px;
}

.user-info a {
	color: #fff;
	text-decoration: none;
	text-shadow:0 0 5px rgba(0, 0, 0, .9);
	margin-right: 10px;
}

.user-info a:hover {
	text-decoration: none;
}

.user-gecos {
	font-size: 32px;
	font-family: "Sawasdee", sans-serif;
	font-weight: 100;
	display: inline-block;
}

.user-status {
	font-weight: normal;
	font-style: italic;
	display: inline-block;
	page-break-before: always;
	margin-left: 10px;
}

.username {
	display: inline-block;
	margin-left: 10px;
}

.user-img {
	display: none;
}

.dropdown-menu li img {
	height: 16px;
	padding: 2px 0 2px 0;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
	background-image: none;
	background-color: rgba(0, 128, 192, .3);
}

.modal {
	height: 70%;
}

.modal-body {
	height: 70%;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	display: none;
}

 ::-webkit-scrollbar-thumb {
 	border-radius: 8px;
 	background-color: rgba(0, 0, 0, .7);
 	border: 1px solid rgba(127, 127, 127, .7);
 }