[GdmGreeterTheme]
Encoding=UTF-8
Greeter=theme.xml
Name=Simple UserList
Description=Based on Hofmann's elegant theme.
Author=Linux Mint
Copyright=GPL
Screenshot=screen.png
