/*gear animations*/
.lbbiggear{
      background-image:url('img/artwork/biggear.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	bottom:106px;
	left:106px;
	margin-bottom: -200px;
	margin-left: -200px;
	width:400px;
    height:400px;
    z-index: -1;
    animation:leftgear 14s infinite;
    animation-timing-function: linear;
    -webkit-animation:leftgear 14s infinite;
    -webkit-animation-timing-function: linear; 
}
@keyframes leftgear
{
 from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

@-webkit-keyframes leftgear 
{
  from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

.rbbiggear{
      background-image:url('img/artwork/biggear.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	top:90px;
	right:90px;
	margin-top: -200px;
	margin-right: -200px;
	width:400px;
    height:400px;
    z-index: -1;
    animation:leftgear 14s infinite;
    animation-timing-function: linear;
    -webkit-animation:leftgear 14s infinite;
    -webkit-animation-timing-function: linear; 
}
.lsbiggear{
      background-image:url('img/artwork/smgear.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	bottom:106px;
	left:106px;
	margin-bottom: -150px;
	margin-left: -150px;
	width:300px;
    height:300px;
    z-index: -1;
    animation:smgear 10s infinite;
    animation-timing-function: linear;
    -webkit-animation:smgear 10s infinite;
    -webkit-animation-timing-function: linear; 
}
@keyframes smgear
{
 from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

@-webkit-keyframes smgear 
{
  from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

.rsbiggear{
      background-image:url('img/artwork/smgear.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	top:90px;
	right:90px;
	margin-top: -150px;
	margin-right: -150px;
	width:300px;
    height:300px;
    z-index: -1;
    animation:smgear 10s infinite;
    animation-timing-function: linear;
    -webkit-animation:smgear 10s infinite;
    -webkit-animation-timing-function: linear; 
}

/*end of gear animations*/
/*floodlight rotation*/
.floodlight{
      background-image:url('img/artwork/floodlight.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	bottom:-10%;
	left:25%;
	margin-bottom: -600px;
	margin-left: -50px;
	width:100px;
    height:1200px;
    z-index: -1;
    animation:floodlight 10s infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    -webkit-animation:floodlight 10s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction:alternate; 
}
@keyframes floodlight
{
 from {
    transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
  }
  to { 
    transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg);
  }
}

@-webkit-keyframes floodlight 
{
  from {
    transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
  }
  to { 
    transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg);
  }
}
.floodlight1{
      background-image:url('img/artwork/floodlight.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	bottom:-10%;
	left:70%;
	margin-bottom: -600px;
	margin-left: -50px;
	width:100px;
    height:1200px;
    z-index: -1;
    animation:floodlight1 10s infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    -webkit-animation:floodlight1 10s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction:alternate; 
}
@keyframes floodlight1
{
 from {
    transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg);
  }
  to { 
    transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
  }
}

@-webkit-keyframes floodlight1 
{
  from {
    transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg);
  }
  to { 
    transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
  }
}
.floodlight2{
      background-image:url('img/artwork/floodlight.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	bottom:-10%;
	left:75%;
	margin-bottom: -600px;
	margin-left: -50px;
	width:100px;
    height:1200px;
    z-index: -1;
    animation:floodlight 10s infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    -webkit-animation:floodlight 10s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction:alternate; 
}
.floodlight3{
      background-image:url('img/artwork/floodlight.png');
    background-size: contain;
    background-repeat:no-repeat;
    position: fixed;
	bottom:-10%;
	left:20%;
	margin-bottom: -600px;
	margin-left: -50px;
	width:100px;
    height:1200px;
    z-index: -1;
    animation:floodlight1 10s infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    -webkit-animation:floodlight1 10s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction:alternate; 
}
/*sprite animation*/

#sprite1 {
     width: 300px;
     height: 183px;
     background-image: url(img/artwork/blimpl.png);
     top:100px;
     position:fixed;
     z-index: -1;
     animation:blimp1 60s infinite;
     animation-timing-function:linear;
    -webkit-animation:blimp1 60s infinite;
    -webkit-animation-timing-function:linear; 
}
@keyframes blimp1
{
from { left: -40%;}
 to {left:  120%;}
}

@-webkit-keyframes blimp1 
{
from { left: -40%;}
 to {left:  120%;}
}
#sprite2 {
     width: 200px;
     height: 122px;
     background-image: url(img/artwork/blimpr.png);
     top:50%;
     position:fixed;
     z-index: -1;
     animation:blimp2 80s infinite;
     animation-timing-function:linear;
    -webkit-animation:blimp2 80s infinite;
    -webkit-animation-timing-function:linear; 
}
@keyframes blimp2
{
from { left: 120%;}
 to {left:  -50%;}
}

@-webkit-keyframes blimp2 
{
from { left: 120%;}
 to {left:  -50%;}
}
/*planes*/
#sprite4 {
     width: 100px;
     height: 51px;
     background-image: url(img/artwork/fatplane100.png);
     top:80%;
     position:fixed;
     z-index: -1;
     animation:plane1 60s infinite;
     animation-timing-function:linear;
    -webkit-animation:plane1 60s infinite;
    -webkit-animation-timing-function:linear; 
}
@keyframes plane1
{
from { left: -300%;}
 to {left:  300%;}
}

@-webkit-keyframes plane1 
{
from { left: -300%;}
 to {left:  300%;}
}
#sprite3 {
     width: 100px;
     height: 50px;
     background-image: url(img/artwork/oldplane100.png);
     top:70%;
     position:fixed;
     z-index: -1;
     animation:plane2 60s infinite;
     animation-timing-function:linear;
    -webkit-animation:plane2 60s infinite;
    -webkit-animation-timing-function:linear; 
}
@keyframes plane2
{
from { left: 400%;}
 to {left:  -300%;}
}

@-webkit-keyframes plane2 
{
from { left: 400%;}
 to {left:  -300%;}
}
