.gear1{
     width:300px;
     height:300px;
     background-image:url('img/artwork/gear.png');
     position:fixed;
     top:50%;
     left: 0%;
     margin-top: -150px;
     margin-left: -150px;
     animation:leftgear 5s infinite;
     animation-timing-function: linear;
    -webkit-animation:leftgear 5s infinite;
    -webkit-animation-timing-function: linear; 

}
@keyframes leftgear
{
 from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

@-webkit-keyframes leftgear 
{
  from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

.gear2{
     width:300px;
     height:300px;
     background-image:url('img/artwork/gear.png');
     position:fixed;
     top:50%;
     right: 0%;
     margin-top: -150px;
     margin-right: -150px;
     
     animation:rightgear 5s infinite;
     animation-timing-function: linear;
    -webkit-animation:rightgear 5s infinite;
    -webkit-animation-timing-function: linear;

}
@keyframes rightgear
{
 from { 
     transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
  to { 
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
}

@-webkit-keyframes rightgear 
{
  from { 
     transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
  to { 
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
}
.ray1{
     width:400px;
     height:400px;
     background-image:url('img/artwork/ray1.png');
     position:fixed;
     top:50%;
     left: 50%;
     margin-top: -200px;
     margin-left: -200px;
     animation:ray1 35s infinite;
     animation-timing-function: linear;
    -webkit-animation:ray1 35s infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes ray1
{
 from {
    transform:scale(1.0) rotate(0deg);
    -moz-transform:scale(1.0) rotate(0deg);
    -webkit-transform:scale(1.0) rotate(0deg);
    -o-transform:scale(1.0) rotate(0deg);
  }
  to { 
    transform:scale(0.8) rotate(360deg);
    -moz-transform:scale(0.8) rotate(360deg);
    -webkit-transform:scale(0.8) rotate(360deg);
    -o-transform:scale(0.8) rotate(360deg);
  }
}

@-webkit-keyframes ray1 
{
  from {
    transform:scale(1.0) rotate(0deg);
    -moz-transform:scale(1.0) rotate(0deg);
    -webkit-transform:scale(1.0) rotate(0deg);
    -o-transform:scale(1.0) rotate(0deg);
  }
  to { 
    transform:scale(0.8) rotate(360deg);
    -moz-transform:scale(0.8) rotate(360deg);
    -webkit-transform:scale(0.8) rotate(360deg);
    -o-transform:scale(0.8) rotate(360deg);
  }
}
.ray2{
     width:400px;
     height:400px;
     background-image:url('img/artwork/ray2.png');
     position:fixed;
     top:50%;
     left: 50%;
     margin-top: -200px;
     margin-left: -200px;
     animation:ray1 20s infinite;
     animation-timing-function: linear;
    -webkit-animation:ray1 20s infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes ray2
{
 from {
    transform:scale(1.0) rotate(0deg);
    -moz-transform:scale(1.0) rotate(0deg);
    -webkit-transform:scale(1.0) rotate(0deg);
    -o-transform:scale(1.0) rotate(0deg);
  }
  to { 
    transform:scale(0.95) rotate(360deg);
    -moz-transform:scale(0.95) rotate(360deg);
    -webkit-transform:scale(0.95) rotate(360deg);
    -o-transform:scale(0.95) rotate(360deg);
  }
}

@-webkit-keyframes ray2 
{
from {
    transform:scale(1.0) rotate(0deg);
    -moz-transform:scale(1.0) rotate(0deg);
    -webkit-transform:scale(1.0) rotate(0deg);
    -o-transform:scale(1.0) rotate(0deg);
  }
  to { 
    transform:scale(0.95) rotate(360deg);
    -moz-transform:scale(0.95) rotate(360deg);
    -webkit-transform:scale(0.95) rotate(360deg);
    -o-transform:scale(0.95) rotate(360deg);
  }
}
#sprite1 {
     width: 340px;
     height: 340px;
     background-image: url(img/artwork/sparks.png);
     top:50%;
     left:50%;
     margin-top:-170px;
     margin-left:-170px;
     position:fixed;
      animation:lights 20s infinite;
     animation-timing-function: linear;
    -webkit-animation:lights 20s infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes lights
{
 from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}

@-webkit-keyframes lights 
{
  from {
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to { 
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}
