 
 body { 
	background: url(bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
       /* background:#000;
        background-size:100% 100%;*/
}

.box {
        background-image:url('img/artwork/loginhud.png');
        background-size: contain;
        background-repeat:no-repeat;	
	color:#8EA8C1;
	position: fixed;
	bottom: 0%;
	left: 50%;
	margin-bottom: -50px;
	margin-left: -300px;
	width: 600px;
	height: 120px;
	padding-top:50px;
	text-align: center;
	font-size:13px;	
        text-shadow: 2px 2px 2px #000;	
	overflow:hidden;		
}
.box12{
        color: #8EA8C1;
	position: fixed;
	bottom: 200px;
	left: 50%;
	margin-bottom: -90px;
	margin-left: -200px;	
	width: 400px;
	height: 50px;
	font-size:13px;	
        text-align: center;
	overflow:hidden;	
        z-index:2;
}
.box13 {
        background-image:url('img/artwork/tophud.png');
        background-size: contain;
        background-repeat:no-repeat;	
	color: #ffffff;
	position: fixed;
	top: 0%;
	left: 50%;
	margin-top: -5px;
	margin-left: -300px;
	width: 600px;
	height: 120px;		
}
.box1{
        position: fixed;
	top: 0%;
	left: 50%;
        margin-left: -25%;
        width: 50%;
	height: 50%;
}
.box2{
        position: fixed;
	top: 10px;
	left: 25px;
        margin-left: -25px;
	margin-top: 10px;
        
}
.box3{
        background: url(img/artwork/tuxhead.png);
        background-repeat:no-repeat;
        background-size:cover;	
        position: fixed;
	top: 50%;
	left: 50%;
        margin-left: -150px;
	margin-top: -150px;
        width: 300px;
	height: 300px;
        
}
.box4 { 
     width:45%;
     height:50px;
     margin-top: -25px;
     background-image: -moz-linear-gradient(top,  rgba(14,7,45,.3) 0%, rgba(65,70,117,.3) 65%, rgba(14,7,45,.3) 100%);
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,7,45,.3)), color-stop(65%,rgba(65,70,117,.3)), color-stop(100%,rgba(14,7,45,.3)));
     background-image: -webkit-linear-gradient(top,  rgba(14,7,45,.3) 0%,rgba(65,70,117,.3) 65%,rgba(14,7,45,.3) 100%);
     background-image: -o-linear-gradient(top,  rgba(14,7,45,.3) 0%,rgba(65,70,117,.3) 65%,rgba(14,7,45,.3) 100%);
     background-image: linear-gradient(to bottom,  rgba(14,7,45,.3) 0%,rgba(65,70,117,.3) 65%,rgba(14,7,45,.3) 100%);
     position:fixed;
     top:50%;
     z-index: -1;
}
.box5 { 
     width:45%;
     height:4px;
     margin-top: -25px;
     background-image: -moz-linear-gradient(left, #051023 0%, #6d7da3 17%, #a3b4cb 42%, #bec4d3 58%, #a3b4cb 77%, #171a3b 100%);
     background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#051023), color-stop(17%,#6d7da3), color-stop(42%,#a3b4cb), color-stop(58%,#bec4d3), color-stop(77%,#a3b4cb), color-stop(100%,#171a3b));
     background-image: -webkit-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: -o-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: linear-gradient(to right, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     position:fixed;
     top:50%;
     z-index: -1;
}
.box6 { 
     width:45%;
     height:4px;
     margin-top: 25px;
     background-image: -moz-linear-gradient(left, #051023 0%, #6d7da3 17%, #a3b4cb 42%, #bec4d3 58%, #a3b4cb 77%, #171a3b 100%);
     background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#051023), color-stop(17%,#6d7da3), color-stop(42%,#a3b4cb), color-stop(58%,#bec4d3), color-stop(77%,#a3b4cb), color-stop(100%,#171a3b));
     background-image: -webkit-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: -o-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: linear-gradient(to right, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     position:fixed;
     top:50%;
     z-index: -1;
}
.box7 { 
     width:45%;
     height:50px;
     margin-top: -25px;
     margin-left: 55%;
     background-image: -moz-linear-gradient(top,  rgba(14,7,45,.3) 0%, rgba(65,70,117,.3) 65%, rgba(14,7,45,.3) 100%);
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,7,45,.3)), color-stop(65%,rgba(65,70,117,.3)), color-stop(100%,rgba(14,7,45,.3)));
     background-image: -webkit-linear-gradient(top,  rgba(14,7,45,.3) 0%,rgba(65,70,117,.3) 65%,rgba(14,7,45,.3) 100%);
     background-image: -o-linear-gradient(top,  rgba(14,7,45,.3) 0%,rgba(65,70,117,.3) 65%,rgba(14,7,45,.3) 100%);
     background-image: linear-gradient(to bottom,  rgba(14,7,45,.3) 0%,rgba(65,70,117,.3) 65%,rgba(14,7,45,.3) 100%);
     position:fixed;
     top:50%;
     z-index: -1;
}
.box8 { 
     width:45%;
     height:4px;
     margin-top: -25px;
     margin-left: 55%;
     background-image: -moz-linear-gradient(left, #051023 0%, #6d7da3 17%, #a3b4cb 42%, #bec4d3 58%, #a3b4cb 77%, #171a3b 100%);
     background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#051023), color-stop(17%,#6d7da3), color-stop(42%,#a3b4cb), color-stop(58%,#bec4d3), color-stop(77%,#a3b4cb), color-stop(100%,#171a3b));
     background-image: -webkit-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: -o-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: linear-gradient(to right, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     position:fixed;
     top:50%;
     z-index: -1;
}
.box9 { 
     width:45%;
     height:4px;
     margin-top: 25px;
     margin-left: 55%;
     background-image: -moz-linear-gradient(left, #051023 0%, #6d7da3 17%, #a3b4cb 42%, #bec4d3 58%, #a3b4cb 77%, #171a3b 100%);
     background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#051023), color-stop(17%,#6d7da3), color-stop(42%,#a3b4cb), color-stop(58%,#bec4d3), color-stop(77%,#a3b4cb), color-stop(100%,#171a3b));
     background-image: -webkit-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: -o-linear-gradient(left, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     background-image: linear-gradient(to right, #051023 0%,#6d7da3 17%,#a3b4cb 42%,#bec4d3 58%,#a3b4cb 77%,#171a3b 100%);
     position:fixed;
     top:50%;
     z-index: -1;
}
.box10{
     width:60px;
     height:40px;
     border-radius: 50%;
     background-image: -moz-radial-gradient(center, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     background-image: -webkit-gradient(radial, 0 0, 0 100%, from(rgba(74,158,240,0.5)), to(rgba(9,13,17,0.0)));
     background-image: -webkit-radial-gradient(center, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     background-image: -o-radial-gradient(center, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     background-image: radial-gradient(to center, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     position:fixed;
     top:50%;
     margin-top: -20px;
     z-index: -1;
     animation-timing-function:linear;
     animation:leftball 1s infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation:leftball 1s infinite; 
}
@keyframes leftball
{
from { left: 56%;}
 to {left:  115%;}
}

@-webkit-keyframes leftball 
{
from { left: 56%;}
 to {left:  115%;}
}
.box11{
     width:60px;
     height:40px;
     border-radius: 50%;
     background-image: -moz-linear-gradient(center, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     background-image: -webkit-gradient(linear, left top, left bottom, 0 0, 0 100%, from(rgba(74,158,240,0.5)), to(rgba(9,13,17,0.0)));
     background-image: -webkit-linear-gradient(top, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     background-image: -o-linear-gradient(top, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     background-image: linear-gradient(to bottom, rgba(74,158,240,0.5), rgba(9,13,17,0.0));
     position:fixed;
     top:50%;
     margin-top: -20px;
     z-index: -1;
     animation-timing-function:linear;
     animation:rightball 1s infinite;
     -webkit-animation-timing-function:linear;
    -webkit-animation:rightball 1s infinite; 
}
@keyframes rightball
{
from { left: 40%;}
 to {left:  -15%;}
}

@-webkit-keyframes rightball 
{
from { left: 40%;}
 to {left:  -15%;}
}
.clockholder {
        background-image:url('img/artwork/clockbg.png');
        background-size: contain;
        background-repeat:no-repeat;	
	color: #ffffff;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 190px;
	height: 40px;
        text-align: center;		
}
.showdate {
	color: #8EA8C1;
	position: fixed;
	top: 50px;
	right: 10px;
	width: 190px;
	height: 40px;
        text-align: center;		
}
.buttons {	
	position: relative;
	text-align: center;
	margin-top: 10px;		
}

.user-picture {
	border-radius: 5px;
	border:2px rgba(19,59,186,0.5) solid;
	width: 64px;
	height: 64px;
        z-index:1;	
	-webkit-transition: all .6s ease-in-out;
}

.session-picture {
        background-image: -moz-linear-gradient(top,  rgba(39,120,168,.5) 0%, rgba(44,53,130,.5)100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,120,168,.5)), color-stop(100%,rgba(44,53,130,.5)));
        background-image: -webkit-linear-gradient(top,  rgba(39,120,168,.5) 0%,rgba(44,53,130,.5) 100%);
        background-image: -o-linear-gradient(top, rgba(39,120,168,.5) 0%,rgba(44,53,130,.5)100%);
        background-image: linear-gradient(to bottom, rgba(39,120,168,.5) 0%,rgba(44,53,130,.5)100%);
	border-radius: 5px;
	border:2px rgba(19,59,186,0.5) solid;
	width: 24px;
	height: 24px;	
	margin-right: 5px;	
}

.language-picture {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.user-info {		
	margin-left: 50px;
	margin-top: 10px;
	text-shadow: 1px 1px 1px #000;	
	
}

.user-info:hover img{
				
}

.username {
	font-style: italic;	
}

.usergecos {
	font-weight:bold;
}

.userstatus {
	font-style: italic;
	font-size: 10px;	
}

.highlight-border img{
	-webkit-transition: all .6s ease-in-out;
}

.highlight-border:hover img{
	-webkit-transition: all .6s ease-in-out;
	border:2px #0FA1E6 solid;
}

/*TILT*/
.tilt img{
  -webkit-transition: all 0.2s ease-in-out;     
}
 
.tilt:hover img{
  -webkit-transform: rotate(-3deg);      
}

a {color:#8EA8C1;text-decoration:none;}      /* unvisited link */
a:hover {color:#C2CBD2;text-decoration:none;}  /* mouse over link */


